body{
  background-color:black;
  background-image:url('https://hhhawa.github.io/IMAGE/BingWallpaper.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
}
h1{color:white;text-align:center;}
h4{color:white;text-align:center;}
p{color:white;text-align:center;}
a:link{color:#ed556a}
a:visited{color:#ed556a}
a:hover{color:#2c9678}
a:active{color:#2c9678}
a{
  text-decoration:none;
  cursor:crosshair;
}
a:link,a:visited{
  display:block;
  font-weight:bold;
  color:#FFFFFF;
  background-color:#98bf21;
  width:120px;
  text-align:center;
  padding:4px;
  text-decoration:none;
}