body {
  background-color: black;
  /* 页面背景 */
  background-image: url('/IMAGE/bg.png');
  /* 页面背景图片 */
  background-repeat: no-repeat;
  /* 背景图片填充设置 */
  background-attachment: fixed;
  /* 保持背景图像固定 */
}

h1 {
  color: white;
  /* 文本颜色 */
  text-align: center;
  /* 文本对齐方式 */
}

h2 {
  color: white;
  /* 文本颜色 */
  text-align: left;
  /* 文本对齐方式 */
}

h3 {
  color: white;
  /* 文本颜色 */
  text-align: left;
  /* 文本对齐方式 */
}

h4 {
  color: white;
  /* 文本颜色 */
  text-align: left;
  /* 文本对齐方式 */
}

p {
  color: white;
  /* 文本颜色 */
}

a:link {
  /* 链接样式 */
  color: aquamarine;
  /* 链接颜色 */
}

a:visited {
  /* 访问过的链接样式 */
  color: aquamarine;
  /* 链接颜色 */
}

a:hover {
  /* 鼠标悬停时的链接样式 */
  color: aquamarine;
  /* 链接颜色 */
}

a:active {
  /* 链接激活时的样式 */
  color: aquamarine;
  /* 链接颜色 */
}

a {
  /* 链接样式 */
  text-decoration: none;
  /* 链接下划线 */
  cursor: crosshair;
  /* 鼠标样式 */
}

table {
  color: white;
  /* 文本颜色 */
  border: 2px solid rgb(56, 56, 56);
  /* 表格边框 */
  border-collapse: collapse;
  /* 表格边框合并 */
  background-color: rgb(31, 31, 31);
  /* 表格背景 */
}

td {
  background-color: rgb(31, 31, 31);
  /* 表格单元格背景 */
  color: white;
  /* 文本颜色 */
  border: 2px solid rgb(56, 56, 56);
  /* 表格单元格边框 */
}

text {
  color: white;
  /* 文本颜色 */
}

ol {
  color: white;
  /* 文本颜色 */
}

ul {
  color: white;
  /* 文本颜色 */
}

a.nav {
  display: inline-block;
  /* 内联块 */
  font-weight: bold;
  /* 粗体 */
  border-radius: 10pt;
  /* 圆角盒子 */
  color: white;
  /* 文字颜色 */
  margin: 3px;
  /* 外边距 */
  width: 200px;
  /* 宽度 */
  height: auto;
  /* 高度 */
  text-align: center;
  /* 文字居中 */
  padding: 6px;
  /* 内边距 */
  text-decoration: none;
  /* 去掉下划线 */
  text-align: center;
  transition: background-color 0.3s;
  /* 悬停效果过渡 */
}

a:hover.nav,
a:active.nav {
  color: white;
  /* 文字颜色 */
  text-align: center;
  /* 文字居中 */
  background-color: #0000008a;
  /* 悬停时背景色 */
}

nav.nav {
  background-color: #3333338a;
  /* 导航栏背景色 */
  padding: 10px;
  /* 内边距 */
}

nav.nav ul {
  list-style-type: none;
  /* 移除列表默认样式 */
  margin: 0;
  /* 外边距 */
  padding: 0;
  /* 内边距 */
  display: flex;
  /* flex布局 */
  /* 水平排列 */
  justify-content: center;
  /* 居中对齐 */
}

nav.nav ul li {
  margin: 0 15px;
  /* 列表项间距 */
}

.onec {
  display: inline-block; /* 内联块 */
  padding: 2px; /* 内边距 */
  text-align: center; /* 文本居中 */
  height: auto; /* 自动高度 */
  background-color: #ffffff30; /* 背景半透明 */
}