body {
	background-color: black;
	background-image: url('https://hhhawa.github.io/NEWS/Images/icon.svg');
	background-size: 2400px;
  	background-repeat:no-repeat;
  	background-attachment:fixed;
}

h1 {
	color: white;
	text-align: center;
  }
  
  h2 {
	color: white;
	text-align: left;
  }
  
  h3 {
	color: white;
	text-align: left;
  }
  
  h4 {
	color: white;
	text-align: left;
  }

p {
	color: white;
}

a:link {
	color: aquamarine;
}

a:visited {
	color: aquamarine;
}

a:hover {
	color: aquamarine;
}

a:active {
	color: aquamarine;
}

a {
	text-decoration: none;
	cursor: crosshair;
}

table {
	color: white;
	border: 2px solid rgb(56, 56, 56);
	border-collapse: collapse;
	background-color: rgb(31, 31, 31);
}

td {
	background-color: rgb(31, 31, 31);
	color: white;
	border: 2px solid rgb(56, 56, 56);
}

text {
	color: white;
}

ol {
	color: white;
}

ul {
	color: white;
}
