body {
  background-color: black;
  background-image: url('https://hhhawa.github.io/IMAGE/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: left;
}

h3 {
  color: white;
  text-align: left;
}

h4 {
  color: white;
  text-align: left;
}

p {
  color: white;
}

a:link {
  color: #f57485;
  text-align: left;
}

a:visited {
  color: #f57485;
  text-align: left;
}

a:hover {
  color: aquamarine;
  text-align: left;
}

a:active {
  color: aquamarine;
  text-align: left;
}

input {
  color: white;
}

table {
  border-color: white;
	color: white;
}

text {
  color: black;
}

form {
  color: white;
}

input {
  color:black;
  border-color: black;
}